.container {

}
.container .main {
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
    background: url("../img/bg.jpg") repeat-x scroll;
}
.container .main .content{
    width: 80%;
    margin: 0 auto;
}
.container .main .crumb {
    font-size: 18px;
    color: #666;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.container .main .crumb {
    font-size: 12px;
    color: #666;
    margin: 10px 0px 10px 10px;
    width: 100%;
}

.container .main .right {
    width: 70%;
    display: inline-block;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.container .main .right div {
    float: left;
    margin-right: 20px;
}
.container .main .right div div#allmap{
    width: 400px;
    height: 350px;
    padding: 10px;
    border: 1px solid darkgrey;
}
