.container {

}
.container .main {
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
    background: url("../img/bg.jpg") no-repeat bottom #f6f9e9;
}
.container .main .content{
    width: 80%;
    margin: 0 auto;
}
.container .main .crumb {
    font-size: 12px;
    color: #666;
    margin: 10px 0px 10px 10px;
    width: 100%;
}

.container .main .right {
    width: 70%;
    display: inline-block;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.container .main .right .product {
    margin-left: 50px;
}
.container .main .right .product>div {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.container .main .right .product>div>img {
    display: block;
    width: 200px;
}
.container .main .right div p{
    font-size: 14px;
    text-indent: 2em;
    line-height: 25px;
}
